header {
    width: 100%;
    min-height: 400px;
    padding-top: 3em;
}
#home header{
    background: no-repeat lightblue url(images/swimming11.jpg);
    background-size: 2000px;
}
.main-header{
    background-color: white;
    width: 700px;
    margin: 2em auto 0 auto;
    min-height: 100px;
    height: 100px;
}
.main-header .logo img {
    width: 100px;
    height: 100px;
    margin: 0 2em 0 0;
    float: left;
}
/*Nav*/
.main-menu{
    margin-left: 100px; 
    font-weight: 400;
}
.main-menu ul li {
    list-style-type: none;
    display: inline-block;
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    border-left: 1px solid rgba(202, 204, 202, 0.6);
    line-height: 100px;
    text-transform: uppercase;
    font-size: 14px;
}
.main-menu ul li a{
    text-decoration: none;
    color: #888;   
}
.main-header ul li a:hover{
    color: orange;
}
.main-menu ul li.active {
    background: teal;
    border: none;
}
.main-menu ul li.active a {
    color: #fff;
}
/*Main*/
main {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
}
h1 {
    font-weight: bold;
    font-size: 45px;
    color: orange;
}
h2{
    font-weight: bolder;
    font-size: 30px;
}
p{
    font-weight: 500; 
    font-size: 18px;
}
/* Footer */
footer{
    width: 100%;
    height: 155px;
    padding-bottom: lem;
    background-color: lightblue;
}
footer #nondisclaimer .copy {
    padding: 3.5em 3.5em 3.5em 13em;
    float: left;
    font-size: 0.9em;
}
footer #nondisclaimer .social {
    padding: 2.5em;
    margin-right: 9.25em;
    float: right;
}
footer #disclaimer {
    clear: both;
}
footer #disclaimer p {
    font-size: 0.85em;
    text-align: center;
}
footer #nondisclaimer .social .fa {
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover {
    opacity: 0.7;
}
footer #nondisclaimer .social .fa-facebook {
    background: #3b5998;
    color: white;
}
footer #nondisclaimer .social .fa-instagram {
    background: #125688;
    color: white;
}
footer #nondisclaimer .social .fa-twitter {
    background: #55ACEE;
    background: white;
}